.list-group{
  width: 300px;
  text-align: center;
}

.list-group-item{
  /* margin-left: 80px; */
  /* background-color: transparent; */
  border: none;
  border-bottom: 2.5px solid rgb(134, 6, 6);
  /* border-radius: 0; */
  /* font-size: 20px; */
  color: black;
  font-weight: bold;


}

span{
  color: red;
  -webkit-text-stroke: 0.7px  black;
  font-size: 1.5rem;

}



h4{
  padding-top: 10px;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 15px red;
  color: white;
  -webkit-text-stroke: 0.5px  black;

}

