h4{
  font-family: 'Cursive Font', cursive; /* Cambia 'Cursive Font' por el nombre de la fuente que desees utilizar */
  color: #e8a477; /* Color del texto */
  text-align: center; /* Alineación del texto al centro */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

li{
  text-align: center;
}

.contenedor-lista{
  max-height: 220px;
  overflow-y: auto;
}

.btn-warning{
  background-color: #e8a477;
  color: #674127c8;

}

.btn-warning:hover{
  background-color: #d46820;
  color: #f0cbb3c8;

}

li{
  background-color: #edd2c090;
  border-color: #d46820;
  font-family: 'Cursive Font', cursive;
  color: #674127;

}


