h1{
text-align: center;
color: white;
text-shadow: 2px 2px 15px red;
font-size: 50px;
-webkit-text-stroke: 1px  black;

}

.fila{
  margin-top: 100px;
  display: flex;
  width: 800px;
  padding: 10px;

}
.columna{
  /* align-items: center;
  display: flex; */
  width: 400px;
  margin-right: 10px;
  margin-left: 80px;
}

